@inherits LayoutComponentBase
@using MudBlazor

@* Required *@
@* <MudThemeProvider />
<MudPopoverProvider /> *@

@* Needed for dialogs *@
@* <MudDialogProvider NoHeader="true" CloseButton="true" CloseOnEscapeKey="true"/> *@

@* Needed for snackbars *@
@* <MudSnackbarProvider /> *@

@* <MudLayout>

    <NavMenu />

    <MudMainContent Class="app-main-content" Style="padding-top: 0;">
        <div class="content-shell">
            @Body
        </div>
    </MudMainContent>

</MudLayout> *@
<div class="page">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
