.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #ebe4cd;
}

.app-main-content {
    background: #fbf7ea;
    min-height: 100vh;
}

