@page "/directory"
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@layout MainLayout
@attribute [Authorize]
@inject FolderService FolderService
<div class="d-flex rounded-1">

    <div class="directory-left">
        @* @foreach (var folder in rootFolderContent.)
        {
            
        } *@
    </div>

    <div class="directory-right">

    </div>

</div>

@code {
    FolderContent rootFolderContent;

    protected override async Task OnInitializedAsync()
    {
        rootFolderContent = await FolderService.GetFolder("ROOT");

        var SerialisedData = JsonSerializer.Serialize(rootFolderContent, new JsonSerializerOptions
        {
            WriteIndented = true // for better readability in the console
        });

        Console.WriteLine(SerialisedData);
    }
}
