@page "/journal"
@using Microsoft.AspNetCore.Authorization
@layout MainLayout
@attribute [Authorize]

<PageTitle>Journal</PageTitle>

<section>
    <h1>Journal</h1>
    <p>This page is ready for the journal experience. Content and interactions can be added next.</p>
</section>