@page "/not-found"
@layout MainLayout


<div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <div class="title">404</div>
    <h3>Hmmm, Seems like you took a mistep</h3>
</div>